.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
  padding: 24px;
  width: 60%;
  height: 40%;
  
}

.ant-carousel .slick-slide h3 {
  color: #fff;
} 
