/* For demo */

 h6 {
  color:  #fff;
}


.fondoCarruselGlobal
{
  background-image: url('/img/Pagina/fondo-6.jpg');
}
/*#hea-1 {
       
	    background-image: url('/img/header/1.jpg');
}

#hea-2 {
       
	    background-image: url('/img/header/2.jpg');
}
#hea-3{
       
   background-image: url('/img/header/3.jpg');
}

#hea-4 {
       
	    background-image: url('/img/header/4.jpg');
  
}

#hea-5 {
       
	    background-image: url('/img/header/5.jpg');
}*/

.claspruebaimgFondo{
       
      background-image: url('/img/logos/LogoEstrategica-15.png');
}


#nosotrosIMg {
      
	    background-image: url('/img/Pagina/nosotros-0.png');
}


.titulo {
  font-size: 2em;   /* 2em = 2 x 10px = 20px */
  text-align: center;
  text-shadow: 0 0 15px #40a9ff;
  text-decoration-color:  #fff;
}

.titulo:hover {
     /* 2em = 2 x 10px = 20px */
  text-shadow: 0 0 30px #40ff9e;
  

}

.tituloicon{

  text-shadow: 0 0 15px #40a9ff;
  text-decoration-color:  #fff;
}

.tituloicon:hover {
     /* 2em = 2 x 10px = 20px */
  text-shadow: 0 0 30px #40ff9e;
  text-decoration-color:  #fff;
  

}

.iniciologo{

  background-color:#f8f9fa;
  text-shadow: 0 0 15px #40ff9e;
}

.iniciologo:hover {
     /* 2em = 2 x 10px = 20px */
      background-color:#0359a0;
      text-shadow: 0 0 15px #40a9ff;
  

}
.menusColor{

  background-color:#c7cce0;
  text-shadow: 0 0 15px #40ff9e;
}

.menusColor:hover {
     /* 2em = 2 x 10px = 20px */
      background-color:#f8f9fa;
      text-shadow: 0 0 15px #40a9ff;
  

}

p {
  font-size: 1.4em; /* 1.4em x 10px = 14px */
}

.boxdivbody{
    box-shadow: 2px 2px 10px #666;          /* Sombra normal */
    //box-shadow: 5px -5px 0 2px #444;        /* Sombra superior sin desenfoque */
   // box-shadow: 5px 5px 25px #222 inset;    /* Sombra interior */
}

.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption
{
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}