/* For demo */
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #000;
}

#hea-1 {
        width: 1800; height: 1800;
	    background-image: url('/img/header/1.jpg');
}

#hea-2 {
        width: 1800; height: 1800;
	    background-image: url('/img/header/2.jpg');
}
#hea-3{
        width: 1800; height: 1800;
   background-image: url('/img/header/3.jpg');
}

#hea-4 {
        width: 1800; height: 1800;
	    background-image: url('/img/header/4.jpg');
  
}

#hea-5 {
        width: 1800; height: 1800;
	    background-image: url('/img/header/5.jpg');
}
#contenidoImg
{
   background-image: url('/img/header/5.jpg');

}
.titulo {
  font-size: 2em;   /* 2em = 2 x 10px = 20px */
  text-align: center;
  text-shadow: 0 0 30px #40a9ff;
}

.titulo:hover {
  font-size: 2em;   /* 2em = 2 x 10px = 20px */
  text-shadow: 0 0 30px #40ff9e;
  box-shadow: 0 0 20px #40ff9e;

}
p {
  font-size: 1.4em; /* 1.4em x 10px = 14px */
}

